form { margin: 0; }

.data-entry {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  border-bottom: 1px solid $btn-background;
  border-radius: 0;
  color: $inverted-color;
  font-size: 1em;
  margin: 0;
  padding: 1ex;
  width: 100%;
}

.form-field { padding: 1ex 0; }

.form-field.form-buttons,
.form-field.form-buttons + * { padding-top: $gutter * 5; }
.form-field.form-buttons:first-of-type { padding-top: 0; }

.pill-input {
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  label {
    // background: rgba(255, 0, 0, 0.2);
    cursor: pointer;
    padding: $gutter $gutter;
  }

  .pill__item {
    background: lighten($btn-background, 10%);
    color: $btn-color;
    cursor: pointer;
    margin: 0;
    padding: $gutter 0;
    transition: $transition;
  }

  .pill__item:hover {
    background: lighten($btn-background, 20%);
  }

  .pill__item:first-of-type { border-radius: $radius 0 0 $radius; }
  .pill__item:last-of-type { border-radius: 0 $radius $radius 0; }
  .pill__item:nth-of-type(n+2) { margin-left: 1px; }


  .pill__item label { padding-left: unquote("calc(#{$gutter} + 4px)"); }
  .pill__item:last-of-type label { padding: 0 unquote("calc(#{$gutter} + 4px)"); }

  :checked +.pill__item {
    background: $accent;
  }
}

.pill-input--vertical {
  max-height: 20em;
  overflow: scroll;

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  label {
    background: lighten($btn-background, 10%);
    color: $inverted-color;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 1ex;
    transition: $transition;
  }

  label:hover {
    background: lighten($btn-background, 20%);
  }

  label:first-of-type { border-radius: $radius $radius 0 0; }
  label:last-of-type { border-radius: 0 0 $radius $radius; }
  label:first-of-type:last-of-type { border-radius: $radius; }
  label:nth-of-type(n+1) { margin-bottom: 1px; }

  :checked + label {
    background: $accent;
    color: $btn-color;
  }
}

.btn,
button {
  border: 0;
  border-radius: $radius;
  color: $btn-color;
  cursor: pointer;
  padding: 1ex 2ex;
  transition: $transition;

  &--alternate {
    background: $accent;
    color: darken($accent, 90%);

    &:hover {
      background: lighten($accent, 10%);
    }
  }

  &--good {
    background: lighten($btn-background, 10%);

    &:hover {
      background: lighten($btn-background, 20%);
    }
  }

  &--small {
    font-size: 0.7em;
    font-weight: 100;
  }

  &--warn {
    background: $btn-background--warn;

    &:hover { background: lighten($btn-background--warn, 5%); }
  }

  &.btn--disabled,
  &.btn--disabled:hover {
    background: $main-background;
  }
}

.flex-container input + button {
  border-radius: 0 $radius $radius 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset input[type="checkbox"],
fieldset input[type="radio"],
fieldset label {
  display: inline;
  width: auto;
}

legend {
  margin-bottom: 1ex;
}

[class*="input-overlay--"]:after,
[class*="input-overlay--"]:before {
  height: 1em;
  margin-top: -.5em;
  position: absolute;
  top: 50%;
  width: 1em;
  z-index: 1;
}
[class*="input-overlay--"]:after  { right: 4px; }
[class*="input-overlay--"]:before { left: 4px; }
[class*="input-overlay--"] > * { position: relative; z-index: 2; }

.input-overlay--search { position: relative; }
.input-overlay--search:before { content: '\1F50D'; margin-top: -.8em; }
.input-overlay--search input[type="search"] { padding-left: 3ex; }

.input-overlay--dropdown { position: relative; }
.input-overlay--dropdown:after { content: '\25BC'; }

select {
  color: inherit;
  -webkit-appearance: none;
}
