*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  background-color: $main-background;
  background-image: $main-gradient;
  background-attachment: fixed;
  color: $main-color;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, tahoma, sans-serif;
  margin: 0;
  padding: 0 ;
}

aside {
  background: $inverted-background;
  background-image: $aside-gradient;
  border-radius: 0 $radius * 2 $radius * 2 0;
  color: mix(white, $inverted-background, 80%);
  max-height: 100%;
  overflow: scroll;
  padding: $gutter * 3;
  position: fixed;
  width: $aside - $gutter;
}

aside h1 {
  margin: 0;
}

.content {
  margin-left: $aside - $gutter;
  padding: 0 $gutter;
}

.flex-container { display: flex; }
