*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  background-color: $main-background;
  background-image: $main-gradient;
  background-attachment: fixed;
  color: $main-color;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, tahoma, sans-serif;
  margin: 0;
  padding: 0 ;
}

aside {
  background: $inverted-background;
  border-radius: 0 0 $radius * 2 0;
  color: mix(white, $inverted-background, 80%);
  max-height: unquote("calc(100% - #{$gutter * 4})");
  overflow: scroll;
  padding: $gutter * 3;
  position: fixed;
  width: $aside - $gutter;
}

aside h1 {
  margin: 0;
}

.content {
  margin-left: $aside - $gutter;
  padding: 1px $gutter 0;
}

.flex-container { display: flex; }
.flex-grow { flex: 1 0; }

.filter-headings {
  background: $inverted-background;
  color: $inverted-color;
  margin: -$gutter;
  margin-bottom: $gutter;
  padding: $gutter * 2 $gutter;

  > div:nth-of-type(n+2) {
    margin-top: $gutter * 2;
  }
}
