.badge {
  background: gainsboro;
  border-radius: $gutter;
  color: black;
  display: inline-block;
  font-size: 0.6em;
  margin: 0 $gutter;
  padding: $gutter / 2 $gutter;
}

.col-owner { flex: 0 0; flex-basis: 12em; }
.col-title { flex: 1 0; }

.mod-info {
  border-radius: $radius;
  // margin: 0 $gutter;
  padding: 0 $gutter / 2;

  &:hover,
  &.open {
    background: $highlight-gradient;

    header { color: $inverted-color; }
  }

  &.open { padding-bottom: $gutter / 2; }

  header {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: $gutter / 2;
    padding: $gutter / 2 0;

    h3 {
      font-weight: 100;
      margin: 0;
      padding: 0;
    }
  }
}

.mod-info header:after { content: '+'; }
.mod-info.open header:after { content: '\00d7'; }

.editing .mod-info header .btn { display: inline-block; }
.mod-info header .btn {
  display: none;
  margin-right: 2ex;
}

.mod-info section { display: none; }

.mod-info.open section {
  background: rgba(255, 255, 255, 0.8);
  border-radius: $radius - 2;
  display: block;
  margin: unquote("calc(-#{$gutter / 2} + 2px)");
  padding: $gutter;
}

dl { margin: 0; }
dt { font-weight: bold; }
dd { margin: $gutter 0; }
