.notification {
  border-radius: 5px;
  display: none;
}

.notification--show {
  background: maroon;
  color: white;
  display: flex;
}

.notification--error { background-color: orange; }
.notification--info { background-color: blue; }
.notification--success { background-color: green; }

.notification .close {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5ex;
}

.notification .icon {
  align-items: center;
  display: flex;
  flex: 0 1;
  font-weight: bold;
  padding: 1ex 2ex;
}

.notification .message {
  background: white;
  border-radius: 4px;
  color: #444;
  flex: 1 0;
  margin: 1px;
  padding: 2ex;
}
