.pack-label {
  display: block;
}

.pack-item {
  overflow: hidden;
  position: relative;

  .remove-pack {
    height: 100%;
    padding: 1.25ex;
    position: absolute;
    right: 0;
    top: 0;
    transition: 300ms;
    vertical-align: center;
    width: 4ex;

    &:hover { background: $theme-red; }
  }
}

.download-details { display: none; }
.authenticate .download-details { display: block; }
