$aside: 42ex;
$gutter: 1ex;
$radius: 5px;
$transition: 200ms;

// Coolors Exported Palette - coolors.co/a80b09-0b4f6c-01baef-fbfbff-ffa400
$firebrick: #AF211F;
$imperial: #0b4f6c;
$cyan: #01baef;
$platinum: #E5E5E8;
$orange: #ffa400;
$green: #49C438;
$darkness: #444444;

$accent: $green;
$blue: $imperial;

$main-color: $darkness;
$main-background: $platinum;
$inverted-background: $darkness;
$inverted-color: white;
$main-gradient: linear-gradient(120deg, white, $platinum);

$theme-blue: $imperial;
$theme-orange: $orange;
$theme-green: $green;
$theme-red: $firebrick;

$highlight-gradient: linear-gradient(120deg, $cyan, darken($cyan, 15%));
