.notification {
  border-radius: 5px;
  display: none;
}

.notification--show {
  background: maroon;
  color: white;
  display: flex;
}

.notification--error { background-color: orange; }
.notification--info { background-color: blue; }
.notification--success { background-color: green; }

.notification .close {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5ex;
}

.notification .icon {
  align-items: center;
  display: flex;
  flex: 0 1;
  font-weight: bold;
  padding: 1ex 2ex;
}

.notification .message {
  background: white;
  border-radius: 4px;
  color: #444;
  flex: 1 0;
  margin: 1px;
  padding: 2ex;
}

table {
  width: 100%;
}

th {
  font-size: 1.2em;
  padding: 2ex 0;
  text-align: left;
}

.filters td {
  padding-bottom: 1em;
}

.filters input,
.filters select {
  background: transparent;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 1em;
  margin: 0;
  padding: 2px;
  width: 100%;
}
